@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --seasalt: #f9f9f9ff;
  --antiflash-white: #f0f0f0ff;
  --white: #ffffffff;
  --space-cadet: #1e2948ff;
  --oxford-blue: #1c2233ff;
  --gray: #999999;
}

body {
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
}

.app {
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 50px;
  padding: 0px 40px;
  background-color: var(--oxford-blue);
  display: flex;
  align-items: center;
}

.navbar span {
  font-size: 2rem;
  /* font-family: "Open Sans", sans-serif; */
  color: var(--white);
}
.calendar {
  width: 100%;
  height: auto;
  padding: 40px;
  display: flex;
  column-gap: 0.7rem;
}

.timeline {
  width: 100px;
  height: 720px;
  position: relative;
}

.time_slot {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.slot {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  color: var(--seasalt);
}

.slot > span:nth-child(2) {
  color: var(--gray);
  font-size: 0.9rem;
  font-weight: 500;
}

.events_container {
  position: relative;
  width: 620px;
  padding: 0 10px;
  height: 720px;
  background-color: var(--antiflash-white);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.event_canvas {
  width: 600px;
  position: relative;
}

.event_card {
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.event_card_bar {
  height: 100%;
  background-color: var(--space-cadet);
}
.event_card_content {
  background-color: var(--white);
  padding: 1px 5px;
}

.event_card_content > h4 {
  font-size: 0.7rem;
}
.event_card_content > p {
  font-size: 0.6rem;
  color: var(--gray);
}
