@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --seasalt: #f9f9f9ff;
  --antiflash-white: #f0f0f0ff;
  --white: #ffffffff;
  --space-cadet: #1e2948ff;
  --oxford-blue: #1c2233ff;
  --seasalt: #f9f9f9ff;
  --white: #ffffffff;
  --space-cadet: #1e2948ff;
  --oxford-blue: #1c2233ff;
}

body {
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
}

.app {
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 50px;
  padding: 0px 40px;
  background-color: var(--oxford-blue);
  display: flex;
  align-items: center;
}

.navbar span {
  font-size: 2rem;
  /* font-family: "Open Sans", sans-serif; */
  color: var(--white);
}
